@media (min-width: 601px) and (max-width:1024px){
    .logo{
        width: 35%;
    }

    .img-logo{
        width: 150px;
    }

    nav ul{
        flex-direction: column;
        display: block;
        height: auto;
        width: 50%;
        float: right;
    }

    .item-menu{
        width: 100%;
        float: left;
        display: none; 
    }

    ul{
        height: 100%;
    }

    .icon{
        display: block;
        float: right;
        height: 100%;
    
    }

    /* .item-menu:hover{
        background-color: blueviolet;
    } */
   

    .conteudo{
        background: none;
    }

    .titulo-home{
        width: 80%;
    }

    .titulo-home h1{
        font-size: 1.6rem;
    }

    .text-home{
        width: 80%;
        text-align: center;
        font-size: 1rem;
    }

    .div-button-home{
        width: 200px;
    }

    .btn-home{
        width: 200px;
    }

    .area-sobre{
        flex-flow: wrap-reverse;
        justify-content: space-around;
        height: auto;
        width: auto;
    }

    .area-sobre > div{
        padding-bottom: 50px;
    }

    .area-sobre > .titulo-sobre{
        order: 1;
        height: auto !important;
        width: 100%;
        padding: 0;
        margin: 0 30px;
    }

    .area-sobre > div{
        height: 550px;
        margin: 20px;
        border-radius: 10px !important;
    }

    .area-servicos{
        flex-wrap: wrap;
        height: auto;
        flex-direction: column;
        margin-top: 50px;
    }

    .area-servicos > div{
        padding: 30px;
    }

    .img-servicos{
        padding: 30px !important;
    }
    
    .area-time{
        flex-flow: wrap;
        justify-content: space-around;
    }

    .area-time > div{
        display: grid !important;
        grid-template-columns: 1fr 1fr !important;
        margin-top: 50px;
    }

    .gambiarra{
        margin: 600px 35px 30px 0;
        flex-wrap: wrap;
        flex-direction: column;
        margin: 0;
        width: 100% !important;
    }

    .gambiarra p{
        padding: 10px;
    }

    .img-contatoo{
        display: none;
    }

    .input{
        width: 100%;
    }

    .time{
        flex-direction: initial;
        margin-top: 600px;
    }

    .time > div{
        padding: 0;
        margin-left: 10px;
    }


}
