* {
  padding: 0;
  margin: 0;
  border: none;
  --menu-bg-color: #7677f3;
  font-family: "Montserrat", sans-serif;
}

.container {
  max-width: 1420px;
  margin: auto;
}

.containers {
  width: 100%;
  height: 100vh;
}

.menuFixed {
  width: 100%;
  height: 110px !important;
  position: fixed;
}

.menu-auxiliar {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.164);
  background-color: white;
  z-index: 1;
}

.flex {
  display: flex;
  justify-content: space-between;
  height: 110px;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 10px;
}

.logo {
  width: 10%;
  padding: 10px 0 0 5px;
  justify-content: center;
  align-items: center;
}

.logo > img {
  width: 140px;
}

ul {
  display: flex;
  list-style: none;
}

ul > li {
  margin: 0 10px;
}

ul > li > a {
  text-decoration: none;
  color: #3d3d3d;
  font-size: 1.1rem;
  padding: 10px 20px;
  font-family: "Nunito", sans-serif;
  font-weight: 500;
}

ul li a,
ul li a:after,
ul li a:before {
  transition: all 0.5s;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
ul li a:hover {
  color: #555;
}

div.stroke ul li a,
div.fill ul li a {
  position: relative;
}
div.stroke ul li a:after,
div.fill ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: ".";
  color: transparent;
  background: #455a64;
  height: 1px;
}
div.stroke ul li a:hover:after {
  width: 100%;
}

div.fill ul li a {
  transition: all 2s;
}

div.fill ul li a:after {
  text-align: left;
  content: ".";
  margin: 0;
  opacity: 0;
}
div.fill ul li a:hover {
  color: #fff;
  z-index: 1;
}
div.fill ul li a:hover:after {
  z-index: -10;
  animation: fill 1s forwards;
  -webkit-animation: fill 1s forwards;
  -moz-animation: fill 1s forwards;
  opacity: 1;
}

.icon {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  display: none;
  padding: 0 10px 0 0;
}

.menu-icon {
  width: 24px;
}

.flexHomePage {
  display: flex;
  justify-content: space-between;
  align-content: stretch;
  margin: 0 10px;
  flex-wrap: wrap;
  align-items: center;
  max-width: 1400px;
}

.flexHomePage > div {
  flex: 1;
  margin: 5px 0 5px 0;
  padding: 30px;
  margin: 150px 0;
}

.flexHomePage > div:nth-child(2) {
  flex: 300px;
  padding: 40px 0 40px 40px;
}

.imgHome {
  width: 100%;
}

.flexHomePage > div > div > h1 {
  font-size: 2.5rem;
  font-family: "Nunito", sans-serif;
  font-weight: 900;
  color: #455a64;
  letter-spacing: 3px;
  padding-right: 10px;
}

.flexHomePage > div > div > p {
  padding: 50px 50px 50px 0;
  font-size: 1rem;
  font-weight: 300;
  line-height: 30px;
  color: #455a64;
  letter-spacing: 1px;
  text-align: justify;
  font-family: "Nunito", sans-serif;
}

.btnSaibaMais {
  border: solid 1px #64dfdf;
  border-radius: 15px;
  padding: 20px 35px;
  background-color: white;
  cursor: pointer;
  margin: 15px 0;
  justify-content: center;
  align-items: center;
}

.btnSaibaMais > a {
  text-decoration: none;
  cursor: pointer;
  color: #64dfdf;
  font-size: 1rem;
  font-weight: 600;
  font-family: "Nunito", sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.btnSaibaMais:hover {
  transition: all 0.5s ease-in;
  background: #56cfe1;
  border: solid 1px white;
}

.btnSaibaMais > a:hover {
  transition: all 0.5s ease-in;
  color: white;
}

.flexServicos {
  display: flex;
  justify-content: space-between;
  align-content: stretch;
  margin: 0 10px;
  flex-wrap: wrap;
  align-items: center;
}

.flexServicos > div {
  flex: 1;
  margin: 5px 0 5px 0;
  padding: 30px;
  margin: 100px 0;
}

.flexServicos > div:nth-child(1) {
  flex: 150px;
  padding: 40px 40px 0 0;
}

.flexServicos > div > div > h1 {
  font-size: 2.5rem;
  font-family: "Nunito", sans-serif;
  font-weight: 900;
  color: #455a64;
  letter-spacing: 3px;
  margin: 30px 0;
}

.flexServicos > div > div > p {
  padding: 25px 0 25px 0;
  font-size: 1rem;
  font-weight: 300;
  line-height: 30px;
  color: #455a64;
  letter-spacing: 1px;
  text-align: justify;
  font-family: "Nunito", sans-serif;
}

.fontApp {
  padding: 25px 0 25px 0;
  font-size: 2rem;
  font-weight: 300;
  line-height: 30px;
  color: #455a64;
  letter-spacing: 1px;
  text-align: justify;
  font-family: "Nunito", sans-serif;
}

.textGambiarra {
  padding: 20px 0 0 20px;
  font-size: 1rem;
  font-weight: 300;
  line-height: 30px;
  color: #455a64;
  letter-spacing: 1px;
  text-align: justify;
  font-family: "Nunito", sans-serif;
}

.btnBaixar {
  border: solid 1px #2b9ae4;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 30px 65px;
  font-size: 1rem;
  font-weight: 600;
  background-color: white;
  cursor: pointer;
  margin: 50px 5px 0 5px;
  color: #2b9ae4;
  font-family: "Nunito", sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.btnBaixar:hover {
  transition: all 1s linear;
  background: #56cfe1;
  color: white;
}

.flexSobre {
  display: flex;
  justify-content: space-between;
  height: 100vh;
  align-items: center;
}

.flexSobre > div {
  flex: 1;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.158);
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  margin: 20px;
  height: 75%;
}

.VV {
  display: flex;
  flex-direction: column;
  box-shadow: none !important;
}

.VV > div {
  flex-direction: column;
  flex: 1;
  padding: 30px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.158);
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

h1::after {
  content: "|";
  margin: 5px;
  animation: pisca 0.7s infinite;
  opacity: 1;
}

@keyframes pisca {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@-webkit-keyframes fill {
  0% {
    width: 0%;
    height: 1px;
  }
  50% {
    width: 100%;
    height: 1px;
  }
  100% {
    width: 100%;
    height: 100%;
    background: #56cfe1;
  }
}

@media (min-width: 600px) and (max-width: 960px) {
  li {
    display: none;
  }

  .btnContato {
    display: none;
  }

  .flexHomePage {
    flex-wrap: nowrap;
  }

  .flexHomePage > div > .imgHome {
    display: none;
  }

  .flexHomePage > div:nth-child(2) {
    display: none;
  }

  .flexHomePage > div > div > p {
    padding: 30px 0 30px 0;
  }

  .btnSaibaMais {
    width: 100%;
  }

  .icon {
    display: block;
  }

  .flexServicos > div > .imgHome {
    display: none;
  }

  .flexServicos > div:nth-child(1) {
    display: none;
  }

  .btnDownloads {
    flex-direction: column;
  }
}

@media (max-width: 600px) {
  li {
    display: none;
  }

  .btnContato {
    display: none;
  }

  .flexHomePage > div > .imgHome {
    display: none;
  }

  .flexHomePage > div:nth-child(2) {
    display: none;
  }

  .flexHomePage > div {
    margin: 0;
    margin: 100px 0;
  }

  .flexHomePage > div > div > p {
    padding: 30px 0 30px 0;
    text-align: justify;
  }

  .btnSaibaMais {
    width: 100%;
  }

  .icon {
    display: block;
  }

  .flexServicos > div > .imgHome {
    display: none;
  }

  .flexServicos > div:nth-child(1) {
    display: none;
  }

  .flexServicos > div > div > h1 {
    width: 100%;
  }

  .btnDownloads {
    flex-direction: column;
  }
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #5390d9;
}

[data-anime] {
  opacity: 0;
  transition: 0.5s;
  transform: translate3d(-70px, 0, 0);
}

[data-anime="right"] {
  opacity: 0;
  transition: 0.5s;
  transform: translate3d(70px, 0, 0);
}

[data-anime].animate {
  opacity: 1;
  transform: translate3d(0px, 0px, 0px);
}
